/*
sent-messages, sent-message / me, date-time, user, text-message, chatroom-container, groupchat-name
*/

.chatroom-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
  min-width: 400px;
}

.chatroom-inner-container {
  scroll-behavior: smooth;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #4A725A;
  /* display: flex; */
  flex-direction: column;
}

.sent-messages {
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
}

.sent-messages > .sent-message.me {
  justify-content: flex-end;
}

.sent-message {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 400px;
  margin-right: auto;
}

.sent-message.me {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: right;
  /* background-color: #4CAF50; */
  color: white;
  margin-right: 0;
  margin-left: auto;
}

.top-of-message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  color: rgb(0, 0, 0);
  align-items: baseline;
  gap: 5px;
  font-size: 20px;
}

.sent-message.me > .top-of-message {
  justify-content: flex-end;
  flex-direction: row;
  justify-content: right;
}

.date-time {
  font-size: 12px;
  color: #000;
  margin: 0 0 4px 0;
}

.user {
  font-weight: bold;
  margin: 0 0 4px 0;
}

.text-message {
  margin: 0;
  width: max-content;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  font-size: 18px;
  max-width: inherit;
}

.sent-message > .text-message {
  background-color: #eee;
  margin-right: auto;
  margin-left: 0;
}

.sent-message.me > .text-message {
  background: linear-gradient(to top right, #4CAF50, #40CF4E);
  margin-right: 0;
  margin-left: auto;
}

.message-form {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.message-form input {
  flex-grow: 100;
  border-radius: 0px;
  border: 0px solid #000;
  border-left: none;
  border-bottom: none;
  height: 60px;
  padding-left: 10px;
  font-size: 20px;
}

.message-form > input:focus {
  outline: none;
}

.message-form button {
  border: none;
  border-top: 0px solid #000;
  background-color: #FFF;
  width: 60px;
  transition: 0.2s
}

.message-form button:hover {
  background-color: #4CAF50;
  color: #FFF;
  transition: 0.2s
}

.send-icon {
  font-size: 22px;
}
