.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  margin: 10rem auto;
  border: 4px solid #40cf4e;
  border-radius: 8px;
  background-color: #fff;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 2rem;
}

.name,
.email,
.role,
.skill-level,
.skills {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.edit-btn {
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border: 2px solid #40cf4e;
  border-radius: 50px;
  background-color: #40cf4e;
  color: #fff;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #fff;
  color: #40cf4e;
  transition: all 0.3s ease-in-out;
}

.name-input,
.username-input,
.email-input,
.role-input,
.skill-input,
.role,
.skill-level,
.skills,
.email,
.name {
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #40cf4e;
  border-radius: 8px;
  width: 100%;
}

.save-btn {
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid #40cf4e;
  border-radius: 50px;
  background-color: #40cf4e;
  color: #fff;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #fff;
  color: #40cf4e;
  transition: all 0.3s ease-in-out;
}

.cancel-btn {
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid #9e9f9e;
  border-radius: 50px;
  background-color: #fff;
  color: #9e9f9e;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #9e9f9e;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.searchWrapper,
.search-wrapper {
  font-size: 1.5rem;
  /* padding: 1rem; */
  margin-bottom: 1rem;
  border: 2px solid #40cf4e;
  border-radius: 8px;
  background: #FFF;
  /* width: 789px; */
}

.multiSelectContainer {
  /* width: 789px; */
}

.multiselect {
  display: flex;
  gap: 25px;
  /* width: 789px; */
}

.searchWrapper input {
  width: 560px;
  height: 50px;
}
