.userpage-container {
  height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0px auto;
  padding: 20px;
  width: 400px;
  gap: 15px;
  background-color: #FFF;
  border-radius: 30px;
  height: 80vh;
  margin-top: 50px;
}

.userpage-container p, .userpage-container h1 {
  border: 1px #000 solid;
  margin: 0;
  padding-left: 5px;
}

.userpage-container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.userpage-container button {
  border: 1px #000 solid;
}
