.userpage-container {
  height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 0px auto;
  padding: 100px;
  width: 500px;
  gap: 15px;
  border: 1px #000 solid;
}

.userpage-container p, .userpage-container h1 {
  border: 1px #000 solid;
  margin: 0;
  padding-left: 5px;
}

.userpage-container h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.userpage-container button {
  border: 1px #000 solid;
}
