#whole-page {
  display: flex;
}

#sidebar {
  position: absolute;
  width: 200px;
  height: 100vh;
  background-color: #012326;
  padding: 20px;
}
#content {
  margin-left: 200px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
}
