* {
  font-family: Poppins;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.whole-page {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 100vh;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  transition: transform 0.5s ease;
  transform: translateX(0);
  overflow-x: hidden;
}

.sidebar p {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  margin: 0;
}

.sidebarCollapsed p {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin: 0;
}

.sidebarCollapsed h1 {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.sidebar h1 {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.sidebarCollapsed {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 75px;
  height: 100vh;
  padding: 20px 5px 20px 20px;
  justify-content: space-between;
  align-items: baseline;
  transition: width 1s ease, transform 0.5s ease, padding 1s ease;
  transform: translateX(0);
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.burger-btn {
  color: #fff;
  font-size: 32px;
}

.sidebar-space {
  color: transparent;
  font-size: 32px;
}

.burger-btn:hover {
  cursor: pointer;
}

.content {
  margin-left: 250px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  transition: margin-left 1s ease;
  background: repeat;
  background-size: contain;
  overflow-y: scroll;
}

.contentCollapsed {
  margin-left: 75px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  transition: margin-left 1s ease;
  background: repeat;
  background-size: contain;
  overflow-y: scroll;
}
