

.page-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  
}

.left-side {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.team-container {
  padding: 10px;
  height: 100vh;
  width: 200px;
  flex-grow: 1;
}

.tasks-container {
  padding: 10px;
  height: 50vh;
  border-right: 1px solid #000;
  min-width: 400px;
  overflow-x: scroll;
}

.chat-container {
  padding: 0px;
  height: 50vh;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  min-width: 400px;
  overflow-y: scroll;
}
