@import url("https://fonts.googleapis.com/css2?family=Poppins");

.page-content {
  background-color: #FFF;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content p,
.page-content a {
  color: #000;
}

#brand-bs-btn {
  background-color:#72FF75;
  border:#4CAA4E;
}

#brand-bs-btn:hover {
  background-color: #012326;
  
}

.homepage-logo-green {
  color: #53d255;
}

* {
  font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}