.icon-btn {
  /* color: #fff; */
  font-size: 32px;
  cursor: pointer;
}

.icon-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.icon-list > a, .icon-btn {
  align-self: center;
  /* color:rgb(170, 170, 170); */
  color: #fff;
  transition: 0.5s;
}

.icon-list > a:hover, .icon-btn:hover {
  color: #72FF75;
  transition: 0.5s;
}

/* a.active {
  color: #fff;
} */

.icon-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  align-content: start;
}

.icon-btn {
  color: #fff;
  font-size: 32px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icon-list a {
  text-decoration: none;
}

.icon-list p {
  width: 200px;
  font-size: 20px;
  transition: 0.5s;
  color: #FFF
}

/* .icon-list > a::first-letter {
  color: #72FF75;
} */

.icon-list > a:hover, p:hover {
  color: #72FF75;
  transition: 0.5s;
  cursor: pointer;
}
